@model IEnumerable<ChivoFlixWeb.Models.Planes>

@{
    ViewData["Title"] = "Listado de Planes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Listado de planes</h1>
<div class="row right">
    <a href="~/Planes/Create" class="btn btn-primary col-md-1 card-text-center">Nuevo</a>
</div>
<br />
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                <!--@Html.DisplayNameFor(model => model.Plann)-->
                Nombre del plan
            </th>
            <th>
                Precio
            </th>
            <th>
                Duracion
            </th>
            <th>
                Ver
            </th>
            <th>
                Editar
            </th>
            <th>
                Borrar
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Plann)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioPlan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDuracionPlanesNavigation.Nombre)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.IdPlanes" class="btn btn-success"><i class="bi bi-eye"></i></a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPlanes" class="btn btn-primary"><i class="bi bi-pencil-square"></i></a>
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.IdPlanes"class="btn btn-danger"><i class="bi bi-trash"></i></a>
            </td>           
            
        </tr>
}
    </tbody>
</table>
