@model ChivoFlixWeb.Models.ViewModels.UsuarioVM
@{
    ViewBag.Title = "Nuevo Usuario";
}

<h2>Nuevo usuario</h2>

@using (Html.BeginForm("NuevoUsuario", "Usuarios", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12">
            <div>
                @Html.LabelFor(d => d.Username)
                @Html.TextBoxFor(d => d.Username, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Username, null, new { @class = "text-danger" })
            </div>
            <div>
                @Html.LabelFor(d => d.Email)
                @Html.TextBoxFor(d => d.Email, "", new { @class = "form-control" }))
                @Html.ValidationMessageFor(d => d.Email, null, new { @class = "text-danger" })
            </div>
            <div>
                @Html.LabelFor(d => d.Password)
                @Html.TextBoxFor(d => d.Password, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Password, null, new { @class = "text-danger" })
            </div>
            <div>
                @Html.LabelFor(d => d.ConfirmPassword)
                @Html.TextBoxFor(d => d.ConfirmPassword, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.ConfirmPassword, null, new { @class = "text-danger" })
            </div>
            <div>
                @Html.LabelFor(d => d.Imagen)
                @Html.TextBoxFor(d => d.Imagen, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Imagen, null, new { @class = "text-danger" })
            </div>
            <div>
                <input value="Guardar" class="btn btn-primary" type="submit" />
            </div>
        </div>
    </div>
}